{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-veillenumeriuque.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Veille-numerique | Emeric Grall
{% endblock %}

{% block body %}



<div class="container-veille">
        <header class="header">
            <div class="container-top">
                <h1>
                    <a href="/" class="titre">Emeric Grall</a>
                </h1>
                <div class="ligne-navbar"></div>

                {# <a href="/log.php" class="btn">Connexion</a> #}
            </div>

            <div class="container-navbar">
                <a href="/presentation">Présentation</a>
                <a href="/competences">Compétences</a>
                <a href="/projet">Projets</a>
                {#<a href="/cc.html">Parcours</a> #}
                <a href="/certification">Certification</a>
                <a href="/veille-numerique">Veilles Numériques</a>
                {# <a href="/contact">Contact</a> #}
                <a href="/mention-legale">Mention Légales</a>
            </div>
            {# {% block javascripts %}
                {% block importmap %}
                    {{ importmap('app') }}
                {% endblock %}
            {% endblock %} #}
        </header>



	<div class="container-articles">
		<div class="row">
    {% for article in articles|slice(0, 6) %}
        <div class="col-md-4">
            <div class="article-card">
                {% if article.image %}
                    <img src="{{ article.image }}" alt="Image de l'article">
                {% endif %}
                <div class="article-card-body">
                    <h5>{{ article.title }}</h5>
                    <!-- Ajout de la date de publication -->
                    <p class="article-date">
                        Publié le : {{ article.pubDate|date("d/m/Y") }}
                    </p>
                    <p>{{ article.description | slice(0, 150) }}...</p>
                    <a href="{{ article.link }}" target="_blank">Lire l'article</a>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun article disponible pour le moment, les nouveaux vont bientôt arriver !</p>
    {% endfor %}
        </div>



	</div>

</div>

{% endblock %}
